In [52]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [53]:
csv_1 = "Views/amount_products_per_gender.csv"

In [54]:
df_1 = pd.read_csv(csv_1)

In [55]:
df_1

             product_line    male  female
0      Food and beverages  22,974  33,171
1       Health and beauty  30,633  18,561
2       Sports and travel  26,548  28,575
3     Fashion accessories  23,868  30,437
4      Home and lifestyle  23,825  30,037
5  Electronic accessories  27,236  27,102

In [56]:
csv_2 = "Views/amount_products_per_time.csv"

In [57]:
df_2 = pd.read_csv(csv_2)

In [58]:
df_2

,range_time,food_beverages,health_beauty,sports_travel,fashion_accessories,home_lifestyle,electronic_accesories
0,01_morning,"11,261","8,324","9,187","10,471","12,388","10,168"
1,02_midday,"8,059","10,224","12,262","13,060","9,864","7,320"
2,03_early_afternoon,"11,681","10,875","10,756","8,202","9,043","11,450"
3,04_late_afternoon,"5,984","6,697","9,003","9,664","10,745","7,578"
4,05_evening,"19,160","13,074","13,913","12,909","11,822","17,821"

In [59]:
# df_2.set_index("range_time")

In [60]:
csv_3 = "Views/amount_time_per_gender.csv"

In [61]:
df_3 = pd.read_csv(csv_3)

In [62]:
df_3

           range_time    male  female
0          01_morning  27,643  34,156
1           02_midday  24,105  36,684
2  03_early_afternoon  33,738  28,270
3   04_late_afternoon  23,328  26,343
4          05_evening  46,269  42,430

In [67]:
csv_4 = "Views/qty_time_per_gender.csv"

In [68]:
df_4 = pd.read_csv(csv_4)

In [69]:
df_4

           range_time  male  female
0          01_morning    82     109
1           02_midday    85     107
2  03_early_afternoon   104      81
3   04_late_afternoon    77      74
4          05_evening   151     130